MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=iot_caixa_termica
MYSQL_USER=root
MYSQL_PASSWORD=trocar_senha
MQTT_BROKER=test.mosquitto.org
MQTT_PORT=1883
MQTT_CLIENT_ID=caixa-termica-storage
MQTT_TOPIC=iot/caixa_termica/#
